header.topo{
    padding: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10vw;
    height: 10vh;
}
nav.menu{
    display: flex;
    gap: 20px;
}
main.container{
    min-height: 80vh;
}
footer.rodape{
    background-color: var(--primary);
    color: var(--primary-inverse);
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.galeria{
    display: flex;
    gap: 10px;
}
.galeria img{
    object-fit: cover;
    aspect-ratio: 2/2;
}
.lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 5px;
    width: 25vw;
}
.lista li{
    padding: 5px;
    background-color: var(--primary);
    color: var(--primary-inverse);
    text-align: center;
}
form{
    display: flex;
    width: 50vw;
    align-items: center;
}
form .btn-add{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
